<!DOCTYPE html>
<html>
  <head>
    <title>Best Restaurants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
  </head>
  <body class="main-content">
    <a href="/" class="no-decoration">
      <div class="jumbotron">
        <h1>Best Restaurants</h1>
      </div>
    </a>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
